/**
* Japanese fonts
*/
@font-face {
  font-family: 'KozGoPro-ExtraLight';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-ExtraLight.otf');
}

@font-face {
  font-family: 'KozGoPro-Light';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-Light.otf');
}

@font-face {
  font-family: 'KozGoPro-Regular';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-Regular.otf');
}

@font-face {
  font-family: 'KozGoPro-Medium';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-Medium.otf');
}

@font-face {
  font-family: 'KozGoPro-Bold';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-Bold.otf');
}

@font-face {
  font-family: 'KozGoPro-Heavy';
  src: url('../fonts/kozuka-gothic-pro/KozGoPro-Heavy.otf');
}