@import '_var.scss';

html, body {
    margin: 0;
    padding: 0;
}
.main-header {
    background: $menuColor;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent
}

.skin-blue .main-header .navbar {
    background-color: $menuColor;
}
/*breadcrumb*/
.content-header {
    h1 {
        color: #414141;
    }
    .breadcrumb {
        top: 5px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
}
/*-------menu-------*/
#main-heaer-top {
    .navbar {
        #navbar-collapse {
            .nav {
                li {
                    a {
                        color: $menuTextColor;
                    }
                    a:hover {
                        color: $menuTextColorHover;
                    }
                }
            }
        }
    }
}
.dropdown-submenu {
    position: relative;
    >.dropdown-menu {
        top: 6px;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
    }
    > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
}

.dropdown-submenu.pull-left {
    float: none;
    > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
}
.skin-blue .main-header .navbar .nav>li>a:active,
.skin-blue .main-header .navbar .nav>.active>a {
    background-color: $menuColorActive;
}
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav .open>a:focus{
    background-color: transparent;
}
#main-heaer-top {
    .navbar-custom-menu {
        .nav.navbar-nav {
            li.setting {
                .dropdown-menu {
                    background-color: $menuSubColor;
                    color: $menuTextColor;
                    border: none;
                    padding-top: 0;
                    padding-bottom: 0;
                    border-radius: 0;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    li {
                        a {
                            color: $menuTextColor;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        a:hover {
                            color: $menuTextColor;
                        }
                    }
                }
                > ul.dropdown-menu {
                    right: auto;
                }
            }
            li.user {
                a {
                    cursor: default;
                }
                a:hover {
                    background: transparent;
                }
            }
        }
    }
    ul.dropdown-menu {
        background-color: $menuSubColor;
        color: $menuTextColor;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        li {
            a {
                color: $menuTextColor;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $menuSubColor;
            }
            a:hover {
                color: $menuTextColor;
                background-color: $menuSubColorHover;
            }
        }
        li.hover {
            > a {
                background-color: $menuSubColorHover;
            }
        }
    }

    .navbar {
        ul.nav.navbar-nav {
            > li.hover {
                > a {
                    background-color: $menuColorHover;
                }
            }
            .open {
                > a {
                    background: $menuColorHover;
                }
            }

            > li {
                > a:hover {
                    background: $menuColorHover;
                }
            }
        }
    }
}
#navbar-search-input {
    border-radius: 3px;
}
/*end menu*/

/*message alert*/
.flash-message {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    .alert {
        margin-bottom: 0px;
    }
}

/*login*/
.login-wrapper {
    text-align: center;
    h1.login-title {
        font-size: 45px;
        a {
            color: black;
        }
    }
    .login-action {
        margin-top: 50px;
        .login-button {
            background-color: white;
            color: black;
            border: 1px solid;
            padding: 10px 20px;
            border-radius: 10px;
            -moz-border-radius:10px;
            -webkit-border-radius: 10px;
        }
    }
}
.jumbotron {
    background-color: transparent;
}
/*Action button*/
.btn-actions {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align:     middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[disabled], 
html input[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-add {
    @extend .btn-actions;
    background-color: #2e6da4;
    border-color: #367fa9;
    color: #fff;
}
.btn-add:hover {
    background-color: #367fa9;
    border-color: #204d74;
}
.btn-edit {
    @extend .btn-actions;
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
}
.btn-edit:hover {
    background-color: #008d4c;
    border-color: #398439;
}
.btn-delete {
    @extend .btn-actions;
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}
.btn-delete:hover {
    background-color: #d73925;
    border-color: #ac2925;
}
.btn-move {
    @extend .btn-actions;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn-move:hover {
    background-color: #e7e7e7;
    color: #333;
    border-color: #adadad;
}
.btn-large {
    padding: 3px 30px;
}
/* form*/
form{
    label {
        font-weight: normal;
    }
    label.form-label {
        font-weight: 700;
    }
}
.error {
    color: red;
    font-size: 13px;
    font-weight: 100;
}
.required {
    em {
        color: red;
    }
}
.form-inline {
    display: inline-block;
}
.form-label-left {
    .control-label {
        text-align: left;
    }
}
.box {
    .table-responsive {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.tab-content {
    margin-top: 10px;
}
.input-box-img-preview {
    .image-preview {
        width: 20%;
        float: left;
        margin-right: 5%;
    }
    .img-input {
        width: 75%;
        float: left;
    }
}
/*grid data*/
.filter-action {
    text-align: right;
}
.grid-pager {
    margin-top: 20px;
    .data-pager-info {
        margin-top: 3px;
    }
    .dataTables_paginate {
        margin-top: -3px;
    }
    .grid-pager-box {
        float: left;
        margin-right: 20px;
    }
    .pagination-wrapper {
        margin-right: 0;
    }
    .grid-pager-box-right {
        float:right;
    }
    ul.pagination {
        > li {
            float: left;
            input {
                width: 50px;
                text-align: center;
            }
        }
    }
}
.table-grid-data {
    .filter-input-grid {
        input {
            width: 100%;
        }
    }
    .col-checkbox {
        width: 20px;
        text-align: center;
    }
    .col-id {
        width: 100px;
    }
    .col-action {
        width: 200px;
    }
}

.form-input-dropdown {
    .dropdown-toggle {
        width: 37px;
        height: 34px;
    }
    .dropdown-menu {
        width: 37px;
        min-width: auto;
        li {
            width: 35px;
            height: 26px;
            a {
                padding-left: 12px;
                width: 35px;
                height: 26px;
            }
        }
    }
}
.form-group {
    .select2-container--default .select2-selection--single, 
    .select2-selection .select2-selection--single {
        border: 1px solid #d2d6de;
        border-radius: 0;
        height: 34px
    }
}
.select2.select2-container {
    max-width: 100%;
}
.form-group-select2 {
    .select2.select2-container {
        width: 100% !important;
    }
}
.datepicker {
    z-index:1151 !important
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1151 !important;
  }
@media (max-width: $mobile) {
    .form-group-sm-select2 {
        .select2.select2-container {
            width: 100% !important;
        }
    }
}
.rule-noti {
    b {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

}
.box-action {
    margin-bottom: 10px;
}
.btn-sets-box {
    margin-left: 10px;
}
.table-grid-data {
    .col-action.col-a1{
        width: 30px;
    }
    .col-action.col-a2{
        width: 90px;
    }
}

/*responsive*/
/*@media (max-width: $navmobile) and  (min-width: $mobile+1) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        position: relative;
        .nav.navbar-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 162px;
        }
    }
}*/
@media (max-width: $navmobile) {
    .main-header {
        position: relative;
        .navbar {
            .sidebar-toggle {
                display: block;
            }
        }
        #logo {
            background-color: $logoNavColor;
        }
    }
    .main-header .logo, 
    .main-header .navbar {
        width: 100%;
        float: none;
    }
    .main-header .navbar {
        margin: 0;
    }
}
@media (min-width: $navmobile + 1) {
    .main-header {
        position: relative;
        .navbar {
            .sidebar-toggle {
                display: none;
            }
            .container-fluid {
                padding-left: 0;
            }
        }
        #logo {
            width: auto;
            margin-left: 15px;
            height: 100%;
            background: transparent;
            img {
                width: 80px;
                margin-top: -4px;                
            }
        }
        > .navbar {
            margin-left: 126px;
        }
    }
    .wrapper {
        .main-sidebar {
            display: none;
        }
    }
    .layout-top-nav {
        .main-header {
            >.navbar {
                margin-left: 126px;
            }
        }
    }
}
@media (min-width: $mobile+1) {
    li.dropdown:hover > ul.dropdown-menu {
        display: block;
        visibility: visible;
    }
}
@media (max-width: $mobile) {
    .navbar-custom-menu {
        .navbar-nav {
            .user-menu {
                .user-image {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
    .grid-pager {
        .grid-pager-box-right {
            float:left;
            margin-top: 20px;
            width: 100%;
        }
    }
}
/*change size width nav mobile*/
@media (min-width: $navmobile + 1) {
    #main-heaer-top {
        .navbar-form {
            padding-right: 0;
        }
    }
}

@media (max-width: $navmobile) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav {
        li {
            float: none;
        }
        >li {
            >a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .navbar-custom-menu {
        .navbar-nav {
            margin: 0;
            >li {
                float: left;;
                position: static;
                >a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    line-height: 20px;
                }
            }
        }
    }

    .collapse.in{
        display:block !important;
    }

    .main-header .navbar-custom-menu a, 
    .main-header .navbar-right a {
        color: inherit;
        background: transparent;
    }
    .navbar-collapse.pull-left+.navbar-custom-menu {
        display: block;
        top: 0;
        right: 40px;
        position: static;
    }
}
/*mobile-menu*/
.wrapper {
    aside.main-sidebar {
        background-color: $menuMobileColor;
        section.sidebar {
            .sidebar-menu {
                li:hover,
                    li.active {
                    > a {
                        background: $menuMobileActiveColor;
                    }
                }
                > li {
                    .treeview-menu {
                        background: $menuMobileSubColor;
                    }
                    a {
                        color: $menuMobileTextColor;
                    }
                }
            }
        }
    }
}
.sidebar-menu {
    backgro
    li.has-child {
        > a {
            margin-right: 40px;
            float: left;
        }
        i.collapse-title {
            font-size: 30px;
            padding: 2px;
        }
    }
    li {
        clear: both;
        a {
            color: $menuMobileTextColor;
        }
    }
}

.main-sidebar,
.left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
@media (max-width: $navmobile) {
    .main-sidebar,
    .left-side {
        padding-top: 100px;
    }
    .main-sidebar {
        .sidebar {
            .sidebar-form {
                border: none;
                input[type="text"] {
                    color: $menuMobileFormInputTextColor;
                    background-color: $menuMobileFormInputColor;
                }
                .btn {
                    color: $menuMobileFormSubmitTextColor;
                    background-color: $menuMobileFormInputColor;
                }
            }
        }
    }
}
@media (max-width: $navmobile) {
    .main-sidebar,
    .left-side {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}
@media (min-width: $navmobile + 1) {
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .left-side {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
}
@media (max-width: $navmobile) {
    .sidebar-open .main-sidebar,
    .sidebar-open .left-side {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
//end menu mobile