@import '_var.scss';

.treeview {
    margin: 10px 0 0 20px;
}

.treeview {
    li {
        padding: 2px 0 2px 0px;
        > label {
            margin-left: -20px;
            padding-left: 20px;
        }
    }
    li.last {
        background-position: 0 -1766px;
    }
    ul {
        margin-left: -20px;
    }
}
.team-list {
    .team-tree {
        overflow-y: auto;
        .team-item {
            font-weight: normal;
        }
        li a.active{
            background-color: $activeColor;
            padding: 0px 10px;
            color: $activeTextColor;
        }
        a {
            display: inline-block;
            white-space: nowrap;
        }
    }
}
.team-list-action {
    .team-action {
        text-align: center;
    }
}
.team-position-wrapper {
    .position-list {
        a {
            display: block;
            padding: 5px 20px;
        }
        a.active {
            background-color: $activeColor;
            color: $activeTextColor;
        }
    }
}
.team-action {
    .btn-action {
        max-width: 120px;
        width: 100%;
    }
}
.form-group {
    .form-label {
        float: left;
        min-width: 23%;
    }
    .form-data {
        float: left;
        min-width: 65%;
    }
    .select2-container {
        min-width: 65%;
    }
    clear: both;
}
.form-group:after {
    clear: both;
}
.modal-dialog.modal-dialog-team {
    width: 900px;
    overflow-y: auto;
    max-width: 95%;
}
.modal-dialog {
    .modal-title {
        font-size: 27px;
    }
    .team-group-function {
        select {
            min-width: 100%;
        }
        .select2-container {
            min-width: 100%;
        }
    }
}
/* team rule*/
.team-rule-wrapper {
    margin-top: 20px;
    .actions {
        text-align: right;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .table-team-rule {
        tbody {
            td.col-screen-empty {
                background-color: white;
            }
            .tr-col-screen {
                background-color: #3c8dbc;
                color: white;
                td {
                    border: none;
                }
            }
        }
    }
}
.table-rules {
    tbody {
        td.col-screen-empty {
            background-color: white;
        }
        td.col-screen {
            background-color: #8e8e8e;
        }
    }
}

/*team edit*/
.member-profile {
    .box-action {
        margin-bottom: 10px;
    }
}
.form-inline.form-inline-block {
    display: block;
}
/*.input-team-position {
    label {
        float: left;
        margin-right: 10px;
    }
    .input-box {
        float: left;
    }
}
.input-team-position.input-team {
    .input-box {
        max-width: 74%;
    }
}
.input-team-position.input-position {
    .input-box {
        max-width: 65%;
    }
}*/
.box-form-team-position {
    .form-inline-block {
        margin-bottom: 10px;
    }
}

/* employee skill */
.employee-skill-items {
    min-height: 50px;
    .esbw-item:nth-child(odd) {
        clear: both;
    }
    .esbw-item {
        margin-top: 15px;
        .esi-image {
            min-height: 55px;
            width: 50px;
            float: left;
            margin-right: 5%;
        }
        .esi-title {
            font-size: 18px;
            line-height: 18px;
        }
    }
}
.employee-skill-items.item-full-col {
    min-height: 0;
}
.qualifications-skill-box {
    h5.skill-title {
        font-weight: 700;
    }
}
.employee-experience-item.esbw-item {
    line-height: 12px;
}
.skill-modal-form {
    input[type=file] {
        height: auto
    }
    .select-search.error + label {
        position: absolute;
        bottom: 0;
    }
    .select-search.error ~ span.select2-container {
        margin-bottom: 25px;
    }
}
/* -------end employee skill */
.team-select-box {
    .select2.select2-container {
        .select2-selection.select2-selection--single {
            height: 31px;
        }
    }
}
/*responsive*/
@media (min-width: 768px) {
    .team-select-box {
        float: left;
        width: 50%;
        label {
            float: left;
            margin-right: 5px;
            margin-top: 3px;
        }
        .input-box {
            float: left;
            width: 50%;
        }
    }
    .box-form-team-position {
        .form-inline-block {
            .form-group {
                max-width: 45%;
                .form-control {
                    max-width: 75%;
                }
            }
        }
    }
    .employee-skill-box-wrapper {
        .add-skill-item {
            position: absolute;
            bottom: 0;
            margin-bottom: 15px;
            right: 0;
        }
    }
}
@media (max-width: 767px) {
    .team-select-box {
        margin-bottom: 20px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px){
    .box-form-team-position {
        .form-inline-block {
            .form-group {
                max-width: 100%;
                display: block;
                margin-bottom: 15px;
                .form-control {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}