.inline-block{
    display: inline-block;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.padding-left-right-5px{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

