@import "mixins/function";

.content-wrapper {
    background: #fff;
    @media screen and (min-width: $largeScreen){
        background-color: #ecf0f5;
    }
    
    .content-header {
        padding: 0;
        @media screen and (min-width: $largeScreen){
            padding: 15px 15px 0 15px;
        }
    }
    
    .content {
        @extend .content-header;
        padding-top: 15px;
        .container {
            padding: 0;
            @media screen and (min-width: $largeScreen){
                padding: 0 15px;
            }
        }
        .box {
            box-shadow: none;
            @media screen and (min-width: $largeScreen){
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            }
        }
    }
}

.css-create-page {
    input[type=text] {
        width: 93%;
        display: inline-block;
    }
    
    .box-header {
        text-align: center;
        border-bottom: none;
        @media screen and (min-width: $largeScreen){
            border-bottom: 1px solid #f4f4f4;
        }
        .box-title {
            font-size: 18px;
            @media screen and (min-width: $largeScreen){
                font-size: 25px;
            }
        }
        
    }
    
    .sama_label{
        position: absolute;
        top: 8px;
        left: 85%;
    }
    
    .radio-inline {
        padding-left: 0;
    }
    
    .container-fluid .row-fluid button.btn-next{
        float: right; 
        background-color: #690F8E; 
        padding: 3px 28px;
    }

    .date {
        width:40% !important; 
        display: inline !important;
        left: -6px;    
        position: relative;    
        border-radius: 0 4px 4px 0 !important;
    }

    .calendar-button{
        position: relative;
        top: -2px;left: 0;
        padding: 9px 15px !important;
        display: inline-block !important;
        width: auto !important; 
        cursor: pointer;
    }

    .container-button-css{
        text-align: center;
        button{
            padding: 5px 35px;
        }
    }


    /* hien popup chon team vao css */
    .css-create-page .modal-dialog, .css-update-page .modal-dialog{
        width: 400px !important;
    }

    #frm-add-teams{
        text-align: center;
    }

    .container-teams{
        width:200px; 
        height:300px;
        background: #6e6e6e;
        float:left;
    }

    .btn-add-team{
        position: relative;
        top:134px;
        margin:0 16px; 
        padding: 5px 15px;
        border: none;
        color: #fff;
        float: left;
        font-weight: bold;
        background: -webkit-linear-gradient(#929292, #000); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#929292, #000); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#929292, #000); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#929292, #000); /* Standard syntax */
    }

    .modal-header{
        background-color:#3c8dbc; 
        border-bottom: 1px solid #d2d6de !important;
        .modal-title{
            color: #fff ;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .css-create-page .modal-body, .css-update-page .modal-body{
        font-size: 12px;
        overflow-y: auto;
        height: 400px;
    }

    .list-team-tree li {
        list-style: none;
    }

    .list-team-tree ul label {
        width: 100%;
    }

    .modal-footer{
        border-top: 1px solid #3c8dbc !important;
        button.create-css{
            color: #000 ; 
            font-weight: bold; 
            background: #e3b019 ; 
            padding: 3px 25px;    
            margin-top: 10px;
        }   
    }

    .modal-body{
        ul.list-teams{
            padding: 10px;
            list-style: none;
            text-align: left;
            color: #fff;
            font-weight: bold;
            li{
                cursor: pointer;
                padding: 3px;
            }
        }
        .remove-team{
            margin-bottom: 10px;
            text-align: right;
            img{
                cursor: pointer;
            }
        }
    } 

    .container-date{
        position: relative;
        display: inline;
        #start_date-error{    
            position: absolute;
            top:43px;
            left:0;
        }
        #end_date-error{    
            @extend #start_date-error;
        }
    }

    #team_id_check-error{
        display: block;
    }
}

.page-header{
    text-align: left; 
    border-bottom: none;
}



.url_make{
    width: 100%;
    text-align: center; 
    padding-bottom: 30px;
}

.url_make h2{
    color: #0230BF; 
    text-decoration: underline; 
    margin-top: 30px; 
    margin-bottom:30px;
}

.hr{
    border-top: 1px solid #8c8b8b;
    width: 95%;
}

/* ------------- trang preview -------------------------*/

.make-css-page{
    padding: 20px;
    margin-left: -16px;
}
#header-makecss {
    margin-top: 20px;    
    margin-bottom: 90px;
}
#header-makecss #chu-trai{
    float:left;width: 300px;
    background-color:rgb(24, 52, 93);
    text-align: center;width: 500px;
}
#header-makecss #chu-trai h2{
    color:#fff; 
    margin:5px 0; 
    font-size: 25px;
    font-weight: bold;
}
#header-makecss #logo-rikkei{
    float: right;
    margin-top: -20px;
}

.make-css-page .bang1 tr:first-child td,.bang2 tr:first-child {
    color:#fff;  
    background-color: rgb(24, 52, 93);
}

.make-css-page .bang1 input[type=text],.bang2 input[type=text] {
    outline: none;
    border: 1px solid #5276DC;
    width: 100%;
    padding: 0 3px;
    color: #074ED8;
}
.make-css-page .bang1 .tongdiem{
    text-align: center; 
    width: 25%;
}
.make-css-page .table td{
    border: 1px solid #2A4577;
}
.make-css-page .bang2 .header{
    text-align: center;
}
.make-css-page .bang2 td:first-child{
    width:25%;
}
.make-css-page .bang2 .comment {
    width:30%;
}
.make-css-page .bang2 .reply {
    width:15%;
}
.make-css-page .bang2 .mucto {
    font-weight: bold;
    background-color: #d99796;
}
.make-css-page .bang2.table-osdc .mucto {
    background-color: #96b4d6;
}
.make-css-page .bang2 .mucbe {
    font-weight: bold;

}
.make-css-page .diemso-osdc{
    color: #0070bf;
}
.make-css-page .diemso-base{
    color: #ff0000;
}
.make-css-page .diem {

    font-size: 40px;
    text-align: center;
}

.team-tree{
    padding: 0;
    list-style-type: disc;
    padding-left: 30px;
    text-align: left;
    height: 100%;
    overflow: auto;
}

.team-tree li{
    padding-left: 0;
}

.team-tree li ul{
    padding-left: 15px;
}

.team-tree label{
    width: 100%;
}

.team-tree a{
    color:#fff;
    font-weight: bold;
    width: 100%;
    padding-left: 8px;
}

.team-tree ul .team-item{

}

.modal-body .right-list a{
    color: #fff;
    font-weight: bold;
}

.modal-body .right-list label{
    width:100%;
}

.required{
    color:red;
}

.customer_name_td{
    position: relative;
}

.customer_name_td #customer_name{
    padding-right: 30px;
}



label{
    display:inline;
}

.rate{
    text-align: center;
}

.infomation{
    font-weight: bold;
    color: #074ED8;
}

.container-submit{
    text-align: center;
}

.diem-fixed{
    position: fixed;
    right:10px;
    bottom:10px;
    background-color: #C32C09;
    opacity: .7;
    font-size: 25px;
    padding: 10px 20px;
    color: #fff;
}

.comment-question{
    width: 100%;
    outline: none;
    resize: vertical;
    height:38px;
}

.make-css-page .bang2 td{
    padding:3px;
    vertical-align: middle;
    height: 38px;
}

.make-css-page .bang2 td:first-child{
    padding: 0 5px;
}

.proposed{
    width: 100%;
    height: 100% !important;
    resize: none;
    outline: none;
}

.icheckbox-container {
    width: 99px;
    display: inline-block;
}

.icheckbox{
    display: inline-block;
}

.title-label{
    width: 90px;
    display: inline-block;
}

.label-normal{
    font-weight: normal;
}

.iradio-container{
    width: 145px;
    margin: 5px 0;
    display: inline-block;
}

.small-title{
    color:blue;
    font-size:15px;
}

.box-select-question{
    display: none;
}

.line-15{
    margin-top: 20px;
}

.btn-apply{
    padding: 6px 25px;
}

.btn-filter{
    padding: 6px 25px;
    margin-top: 81px;
}

div.theotieuchicauhoi{
    display:none;
}

table.tieuchi-theocauhoi .No{
    width:35px;
}

table.tieuchi-theocauhoi .question{
    width:44%;
}

table.tieuchi-theocauhoi .point{
    
}

table.tieuchi-theocauhoi .check{
    width:40px;
}

select option.parent{
    font-weight: bold;
}

.analyze-body ul{
    list-style: none;
}

.analyze-body ul label{
    width:100%;
}

.analyze-body .list-team-tree{
    height:300px;
    overflow-y: auto; 
}

.ketquaapply{
    display: none;
}

.tbl-criteria{
    display: none;
}

.dataTables_paginate{
    text-align: center;
}

.dataTables_paginate ul.pagination{
    margin: 0;
}

.table-fixed thead {
  width: 100%;
}
.table-question-fixed thead {
  width: 98%;
}
.table-fixed tbody {
  height: 345px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.projecttype-title{
    font-size: 18px;
    font-weight: bold;
}

.root-category{
    font-size: 16px;
    font-weight: bold;
}

.category{
    font-weight: bold;
}

.loading-img {
    position: absolute;
    top:50%;
    left:50%;
    width: 35px;
}

table tr.loading {
    height:200px;
}

.no-result{
    display: none;
}

.myHeading{
    border:none;
    font: 18px Roboto;
    padding-left:10%;
}

#danhsachduan th, #duoi3sao th, #danhsachdexuat th{
    cursor: pointer;
}

#danhsachduan th:first-child, #duoi3sao th:first-child, #danhsachdexuat th:first-child{
    cursor: auto;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px !important;
    vertical-align: middle;
    border-bottom: 1px solid #f4f4f4 !important;
}

.analyze-body .dataTable {
    table-layout: fixed;
}

.analyze-body .dataTable td {
    word-wrap:break-word;
}
