.error{
    color:red;
    font-size: 13px;
    font-weight: 100;
    display: inline-block;
}

.width-300{
    width:325px;
}

.position-relative {
    position: relative !important;
}

.position-inherit {
    position: inherit !important;
}