/*size screen*/
$mobile: 768px;
$navmobile: 1195px;

/*color*/
$menuColor: #ba2226;
$menuSubColor: #ba2226;
$menuColorHover: #d53f3f;
$menuTextColor: #fff;

$menuMobileColor: #949292;
$menuMobileLineColor: #ba2226;
$menuMobileTextColor: #fff;

$logoNavColor: #ad2224;