/*size screen*/
$mobile: 768px;
$navmobile: 1195px;

/*color*/
$menuColor: #ba2226;
$menuSubColor: #ba2226;
$menuColorHover: rgba(0,0,0,0.1);
$menuColorActive: #d53f3f;
$menuTextColor: #dedede;
$menuTextColorHover: #fff;

$menuMobileColor: #414141;
$menuMobileLineColor: #ba2226;
$menuMobileTextColor: #fff;
$menuMobileActiveColor: #4f4f4f;
$menuMobileSubColor: #565656;

$menuMobileFormBorderColor: #374850;
$menuMobileFormInputTextColor: #949192;
$menuMobileFormInputColor: #ffffff;
$menuMobileFormSubmitTextColor: #949192;


$logoNavColor: #ECF0F5;