$sizeMobile: 768px;

/*message alert*/
.flash-message {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    .alert {
        margin-bottom: 0px;
    }
}

/*login*/
.login-wrapper {
    text-align: center;
    h1.login-title {
        font-size: 45px;
        img {
            width: 250px;
        }
        a {
            color: black;
        }
    }
    .login-action {
        margin-top: 40px;
        .login-button {
            .login-btn-item {
                border: 1px solid;
                height: 55px;
                display: inline-block;
                text-align: center;
            }
            .login-btn-content {
                font-size: 18px;
                background: #bb2327;
                padding-top: 15px;
                padding: 15px 35px;
                border-top-right-radius: 5px;
                -moz-border-top-right-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                -moz-border-bottom-right-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                font-weight: 800;
                color: #fff;
            }
            .login-btn-head {
                
            }
        }
    }
}
.jumbotron {
    background-color: transparent;
}

.page-messages {
    .alert.alert-danger {
        color: red;
        font-size: 25px;
        text-align: center;
    }
    ul {
        list-style: none;
    }
}

@media (max-width: $sizeMobile) {
    .login-title {
        img {
            
        }
    }
}
@media (min-width: $sizeMobile + 1) {
    .login-title {
        img {
            
        }
    }
}