@import '_var.scss';

html, body {
    margin: 0;
    padding: 0;
}
.navbar-header img {
    height: 50px;
}
.navbar-brand {
    padding: 0 5px 0 30px;
}
.skin-blue .main-header .navbar {
    background-color: $menuColor;
}
/*breadcrumb*/
.content-header {
    .breadcrumb {
        top: 5px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
}
/*-------menu-------*/
.dropdown-submenu {
    position: relative;
    >.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
}

.dropdown-submenu.pull-left {
    float: none;
    > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
}
.main-header .navbar .nav>li>a:hover, 
.main-header .navbar .nav>li>a:active,
.main-header .navbar .nav>li>a:focus, 
.main-header .navbar .nav .open>a, 
.main-header .navbar .nav .open>a:hover, 
.main-header .navbar .nav .open>a:focus, 
.main-header .navbar .nav>.active>a {
    background-color: $menuColorHover;
}
/*end menu*/

/*message alert*/
.flash-message {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    .alert {
        margin-bottom: 0px;
    }
}

/*login*/
.login-wrapper {
    text-align: center;
    h1.login-title {
        font-size: 45px;
        a {
            color: black;
        }
    }
    .login-action {
        margin-top: 50px;
        .login-button {
            background-color: white;
            color: black;
            border: 1px solid;
            padding: 10px 20px;
            border-radius: 10px;
            -moz-border-radius:10px;
            -webkit-border-radius: 10px;
        }
    }
}
.jumbotron {
    background-color: transparent;
}
/*Action button*/
.btn-actions {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align:     middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[disabled], 
html input[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.btn-add {
    @extend .btn-actions;
    background-color: #2e6da4;
    border-color: #367fa9;
    color: #fff;
}
.btn-add:hover {
    background-color: #367fa9;
    border-color: #204d74;
}
.btn-edit {
    @extend .btn-actions;
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
}
.btn-edit:hover {
    background-color: #008d4c;
    border-color: #398439;
}
.btn-delete {
    @extend .btn-actions;
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}
.btn-delete:hover {
    background-color: #d73925;
    border-color: #ac2925;
}
.btn-move {
    @extend .btn-actions;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn-move:hover {
    background-color: #e7e7e7;
    color: #333;
    border-color: #adadad;
}
/* form*/
form{
    label {
        font-weight: normal;
    }
    label.form-label {
        font-weight: 700;
    }
}
.error {
    color: red;
    font-size: 13px;
    font-weight: 100;
}
/*responsive*/
@media (max-width: 991px) and  (min-width: $mobile+1) {
    .navbar-collapse.pull-left+.navbar-custom-menu {
        position: relative;
        .nav.navbar-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 146px;
        }
    }
}
@media (min-width: $mobile+1) {
    li.dropdown:hover > ul.dropdown-menu {
        display: block;
        visibility: visible;
    }
}
@media (max-width: $mobile) {

}