@import '_var.scss';

.treeview {
    margin: 10px 0 0 20px;
}

.treeview {
    li {
        padding: 2px 0 2px 0px;
        > label {
            margin-left: -20px;
            padding-left: 20px;
        }
    }
    li.last {
        background-position: 0 -1766px;
    }
    ul {
        margin-left: -20px;
    }
}
.team-list {
    .team-tree {
        overflow-y: auto;
        li a.active{
            background-color: $activeColor;
            padding: 0px 10px;
            color: $activeTextColor;
        }
        a {
            display: inline-block;
            white-space: nowrap;
        }
    }
}
.team-position-wrapper {
    .position-list {
        a {
            display: block;
            padding: 5px 20px;
        }
        a.active {
            background-color: $activeColor;
            color: $activeTextColor;
        }
    }
}
.team-action {
    .btn-action {
        width: 120px;
    }
}
.form-group {
    .form-label {
        float: left;
        width: 23%;
    }
    .form-data {
        float: left;
        width: 65%;
    }
    clear: both;
}
.form-group:after {
    clear: both;
}
.modal-dialog.modal-dialog-team {
    width: 900px;
    overflow-y: auto;
    max-width: 95%;
}
.modal-dialog {
    .modal-title {
        font-size: 27px;
    }
    .permission-alias-label {
        float: left;
        width: 40%;
    }
    .permission-alias-data {
        float: left;
        width: 60%;
        select {
            width: 100%;
        }
    }
}

/*responsive*/
