@import "css_customer/variables";
@import "css_customer/elements";

/** Welcome */
.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
}

.container{
    @media screen and (max-width: $smallScreen){
        width: 100%;
    }
}

.content {
    @media screen and (max-width: $smallScreen){
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.welcome-body {
    min-height: 550px;
}

.welcome-header {
    text-align: center;
    color: $colorGreen;
    margin-bottom: 5px;
    .welcome-title {
        font-size: 38px;
        @media screen and (max-width: $smallScreen){
            font-size: 33px;
        }
    }
}

.logo-rikkei {
    text-align: center;
    margin-bottom: 10px;
    img{
        width: 180px;
    }
    .slogan{
        display: block;
        font-size: 18px;
        font-style: italic;
        color: $colorGray;
        transform : scale(1,$fontHeightSloganScale);
        -webkit-transform:scale(1,$fontHeightSloganScale); /* Safari and Chrome */
        -moz-transform:scale(1,$fontHeightSloganScale); /* Firefox */
        -ms-transform:scale(1,$fontHeightSloganScale); /* IE 9+ */
        -o-transform:scale(1,$fontHeightSloganScale); /* Opera */
    }
}

.welcome-line{
    text-align: center;
    margin-bottom: 0 !important;
    color: #58595b;
    font-size: $welcomeFontSizeMedium !important;
    font-family: 'KozGoPro-Light';
}

.css-make-info{
    font-family: 'KozGoPro-Medium';
    margin: 30px auto;
    color: #58595b;
    width: 470px;
    line-height: 28px;
    font-size: $welcomeFontSizeNormal;
    @media screen and (max-width: $smallScreen){
        width: 100%;
        margin: 30px 0;
    }
    .company-name-title {
        width: 155px;
        display: inline-block;
    }
    .project-name-title {
        @extend .company-name-title;
    }
    .customer-name-title {
        @extend .company-name-title;
    }
    .company-name {
        color: $colorGreen;
    }
    .project-name {
        @extend .company-name;
    }
    .goto-make-parent{
        position: relative;
        input[type=text]{
            width: 285px;
            height: 32px;
            outline: none;
            margin-top: 7px;
            border-radius: 0;
            border: 1px solid #1a1a1a;
        }
        img{
            width: 37px;
            position: absolute;
            top: 7px;
            right: 0;
            cursor: pointer;
        }
    }
}

.welcome-footer{
    font-size: 10pt;
    margin-bottom: 10px;
    color: #939598;
    .copyright {
        font-size: $welcomeFontSizeSmall;
        margin-bottom: 0;
        @media screen and (max-width: $smallScreen){
            width: 100%;
        }
        span {
            color: $colorRed;
        }
    } 
    .policy {
        @extend .copyright;
        @media screen and (max-width: $smallScreen){
            float: left;
            margin-top: 10px;
        }
        .policy-link{
            font-size: $welcomeFontSizeSmallest;
            text-decoration: underline;
        }
    }
}

/** Make CSS */
.make-css-page {
    @media screen and (min-width: 320px){
        padding: 0 15px;
        #make-header {
            text-align: center;
            .logo-rikkei {
                float: left;
                img {
                    width: 50px;
                }
            }

            .title {
                font-size: 19px;
                margin: 0;
                color: $colorBlue;
                display: inline;
            }

            .total-point-container {
                float: right;
                font-size: 7px;
                padding: 5px 10px 0;
                text-align: center;
                background-color: #e2f4fd;
                border: 1px solid #409dd7;
                #total-point {
                    font-size: 19px;
                    margin-left: -2px;
                    color: $colorBlue;
                }
            }
        }
        
        .project-info {
            .header {
                background-color: $colorBlue;
                color: #fff;
            }
        }
    }
    
    @media screen and (min-width: 450px){
        #make-header {
            .logo-rikkei {
                img {
                    width: 65px;
                }
            }

            .title {
                font-size: 26px;
            }

            .total-point-container {
                font-size: 8px;
                #total-point {
                    font-size: 22px;
                }
            }
        }
    }
}
