@import "css_customer/variables";
@import "css_customer/elements";
@import "css_customer/mixins";

/** Common */
.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
}

.container{
    @media screen and (max-width: $mediumScreen){
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.content {
    @media screen and (max-width: $mediumScreen){
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

input[type=text] {
    border-radius: 3px !important;
}

button {
    @extend input[type=text];
}

textarea {
    @extend input[type=text];
}

.modal-body {
    p {
        font-size: 15px !important;
        margin-bottom: 0;
        font-family: 'Source Sans Pro';
    }
}

.loading-img {
    width: 40px;
    position: absolute;
    top: 45%;
    left: 45%;
}

/** Welcome */

.welcome-header {
    text-align: center;
    color: $colorGreen;
    margin-bottom: 5px;
    .welcome-title {
        font-size: 38px;
        @media screen and (max-width: $mediumScreen){
            font-size: 33px;
        }
    }
}

.logo-rikkei {
    text-align: center;
    margin-bottom: 10px;
    img{
        width: 180px;
    }
    .slogan{
        display: block;
        font-size: 18px;
        font-style: italic;
        color: $colorGray;
        transform : scale(1,$fontHeightSloganScale);
        -webkit-transform:scale(1,$fontHeightSloganScale); /* Safari and Chrome */
        -moz-transform:scale(1,$fontHeightSloganScale); /* Firefox */
        -ms-transform:scale(1,$fontHeightSloganScale); /* IE 9+ */
        -o-transform:scale(1,$fontHeightSloganScale); /* Opera */
    }
}

.welcome-line{
    text-align: center;
    margin-bottom: 0 !important;
    color: #58595b;
    font-size: $welcomeFontSizeMedium !important;
    
}

.css-make-info{
    
    margin: 30px auto;
    color: #58595b;
    width: 470px;
    line-height: 28px;
    font-size: $welcomeFontSizeNormal;
    @media screen and (max-width: $mediumScreen){
        width: 100%;
        margin: 30px 0;
    }
    .company-name-title {
        width: 155px;
        display: inline-block;
    }
    .project-name-title {
        @extend .company-name-title;
    }
    .customer-name-title {
        @extend .company-name-title;
    }
    .company-name {
        color: $colorGreen;
    }
    .project-name {
        @extend .company-name;
    }
    .goto-make-parent{
        width: 285px;
        top: 11px;
        #make_name {
            border-radius: 3px 0 0 3px !important;
        }
        .btn-to-make {
            background-color: #43a047;
            border-radius: 0 3px 3px 0 !important;
            border: none;
            &:hover {
                background-color: #65b769;
            }
            img {
                height: 21px;
            }
        }
    }
}

.welcome-footer{
    font-size: 10pt;
    margin-bottom: 10px;
    color: #939598;
    .copyright {
        font-size: $welcomeFontSizeSmall;
        margin-bottom: 0;
        @media screen and (max-width: $mediumScreen){
            width: 100%;
        }
        span {
            color: $colorRed;
        }
    } 
    .policy {
        @extend .copyright;
        @media screen and (max-width: $mediumScreen){
            float: left;
            margin-top: 10px;
        }
        .policy-link{
            font-size: $welcomeFontSizeSmallest;
            text-decoration: underline;
        }
    }
}

/** Make CSS */
.make-css-page {
    
    @media screen and (min-width: 320px){
        padding: 0 5px;
        #make-header {
            text-align: center;
            .logo-rikkei {
                float: left;
                img {
                    width: 50px;
                    @media screen and (min-width: $mediumScreen){
                        width: 65px;
                    }
                    @media screen and (min-width: $lagreScreen){
                        width: 100px;
                    }
                }
            }

            .title {
                font-size: 19px;
                margin: 0;
                color: $colorBlue;
                display: inline;
                font-weight: 700;
                @media screen and (min-width: $mediumScreen){
                    font-size: 26px;
                }
                @media screen and (min-width: $lagreScreen){
                    font-size: 45px;
                }
            }
            
            .title-base {
                color: $colorGreen;
            }
            
            .total-point-container {
                @include total-point();
                top: 0;
                right: 10px;
                z-index: 9;
                @media screen and (min-width: $mediumScreen){
                    right: 35px;
                }
                @media screen and (min-width: $lagreScreen){
                    right: 8%;
                }
                .total-point-text {
                    margin-left: 3px;
                }
                .total-point {
                    font-size: 18px;
                    margin-left: -2px;
                    color: $colorBlue;
                    
                    @media screen and (min-width: $mediumScreen){
                        font-size: 22px;
                    }
                    @media screen and (min-width: $lagreScreen){
                        font-size: 40px;
                    }
                }
                
                .total-point-base {
                    color: $colorGreen;
                }
            }
            
            .total-point-container-base { 
                background-color: #e9f4e9;
                border: 1px solid $colorGreen;
            }
            
        }
        
        .project-info {
            padding: 0 15px;
            .header {
                @include project-header();
                @media screen and (min-width: $lagreScreen){
                    text-align: left;
                }
            }
            .header-base {
                background-color: $colorGreen;
            }
            .row-info {
                padding: 0 -10px;
                font-size: 12px;
                margin-bottom: 2px;
                
                @media screen and (min-width: $mediumScreen){
                    margin-bottom: 5px;
                }
            }
        }
        
        .project-detail {
            padding: 0 15px;
            font-size: 16px;
            
            .header {
                @include project-header();
                margin-bottom: 0;
                border-radius: 3px 3px 0 0;
                background-image: none;
                @media screen and (min-width: $lagreScreen){
                    background-image: url(../images/white-dot.jpg), url(../images/white-dot.jpg);
                    background-repeat: repeat-y;
                    background-position: 41.66666667%, 58.3333333%;
                }
                .note-comment {
                    font-size: 9px;
                    margin-top: 1px;
                    @media screen and (min-width: $mediumScreen){
                        font-size: 10px;
                    }
                    @media screen and (min-width: $lagreScreen){
                        display: none;
                    }
                }
                .rating-header {
                    display: none;
                    @media screen and (min-width: $lagreScreen){
                        display: block;
                    }
                }
                .comment-header {
                    @extend .rating-header;
                }
            }
            
            
            .header-base {
                background-color: $colorGreen;
            }
            
            .root-cate {
                background-color: $colorLightBlue;
                padding: 8px 5px;
                color: #fff;
                
                border-radius: 3px;
                
                .note-comment {
                    float: right;
                    font-size: 13px;
                    padding-right: 0;
                    display: none;
                    @media screen and (min-width: $lagreScreen){
                        display: block;
                    }
                }
            }
            
            .root-cate-first {
                background-image: none;
                border-radius: 0 0 3px 3px;
                @media screen and (min-width: $lagreScreen){
                    background-image: url(../images/white-dot.jpg);
                    background-repeat: repeat-y;
                    background-position: 58.3333333%;
                }
            }
            
            .root-cate-base {
                background-color: $colorLightGreen;
            }
            
            .child-cate {
                padding: 8px 5px;
                
            }
            
            .container-question{
                padding-left: 15px;
                padding-right: 15px;
                @media screen and (min-width: $lagreScreen){
                    background-color: #f5f5f7;
                    margin-top: 1px;
                    float: left;
                    width: 100%;
                    margin-left: 0;
                }
                .question {
                    padding: 5px;
                    background-color: #f5f5f7;
                    margin-top: 1px;
                    border-radius: 3px;
                    .num-border {
                        border: 1px solid #999;
                        border-radius: 50%;
                        font-size: 10px;
                        display: inline-block;
                        height: 17px;
                        width: 18px;
                        text-align: center;
                        position: relative;
                        top: -1px;
                        padding-top: 1px;
                    }
                }

                .rate {
                    @extend .question;
                    text-align: center;
                    margin-top: 12px;
                }

                .comment {
                    @extend .question;
                    padding-left: 2px;
                    padding-right: 2px;
                    textarea {
                        height: 45px;
                        resize: none;
                    }
                }
            }
            
            .proposed-comment {
                textarea {
                    height: 140px !important;
                }
            }
            
            .container-submit {
                text-align: center;
                margin: 30px 0;
                button {
                    color: #fff;
                    background-color: $colorLightBlue;
                    border: none;
                    text-transform: uppercase;
                    font-size: 17px;
                    padding: 5px 15px;
                }
                .button-base {
                    background-color: $colorLightGreen;
                }
            }
        }
        
        
    }
}

/** End Make page */

/** Success page */

.success-body{
    text-align: center;
    @media screen and (min-width: 320px){
        img {
            width: 170px;
        }
        .success-action {
            margin-top: 100px;
            p {
                font-size: 20px;
                font-weight: 700;
                @media screen and (min-width: $lagreScreen){
                    font-size: 35px;
                }
            }
        }
    }
}
